@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import "variables";
@import "reset";
@import "login";
@import "notifications";
@import "chat";
@import "draw";
@import "gamePanel";

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  background-color: $greyColor;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;
  // align-content: center;
  min-height: 100%;
  .loginBox,
  .gameContainer,
  .rightPanel {
    display: none;
  }

  &.loggedOut {
    .loginBox {
      display: block;
    }
  }

  &.loggedIn {
    .gameContainer,
    .rightPanel {
      display: flex;
      flex-direction: row;
      margin: 20px;
    }
  }
  .rightPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
